<nav>
  <div class="site-title">
    <a href="/"><h1>Telegraph</h1></a>
    <p>24 Hour Challenge</p>
  </div>
  <ul>
    <li><a href="/">Blogs</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/blogs/create">New Telegraph</a></li>
  </ul>
</nav>
